<footer>
    
    <div class="contact">
        <ul >
            <li><a href="tel:+8977940889">8977940889</a></li>
            <li><a href="team.navanudi@gmail.com">team.navanudi@gmail.com</a></li>
            <li><a href="https://www.instagram.com/navanudi/">instagram</a></li>
        </ul>
    </div>
        
       <div class="address">
        <span>
            navanudi LLP<br>
            D.No.54-20/10-7/12<br>
            Samrat Appartments<br>
            Srinagar Colony<br>
            Vijayawada<br>
            AP, IN-520008
        </span>
       </div>
    
       <div class="copy">
        <span>
            ( c ) 2024
        </span>
       </div>
       
</footer>